* {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
}

.bg {
    text-align: center;
}

.top a{
    text-decoration: none;
    color: black;
}

.reg {
    padding-left: 3rem;
    padding-top: 1rem;
    font-family: fantasy;
    background: linear-gradient(to bottom right, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home {
    text-align: right;
    margin-top: 1rem;
    font-size: 1em;
    margin-left: 4rem;
}
.about {
    text-align: center;
    margin-top: 1rem;
    font-size: 1em;
}
.faq {
    margin-top: 1rem;
    font-size: 1em;
}
.log {
    text-align: center;
    margin-top: 0.5em;
    padding-top: 0.5em;
    font-size: 1em;
    background-image: linear-gradient(to bottom right, yellow, green);
    border-radius: 5px;
    color: white;
}
#log button {
    padding: 15%;
}

.t1 {
    background-image: linear-gradient(to bottom right, #6cf2f7, #fccd90, #fff0a5, #8adc62, #26dc66, rgb(76, 188, 175));
    box-shadow: 1em 1rem 2rem 0 rgba(0, 0, 0, 0.404), 0 1rem 1rem 0 rgba(0, 0, 0, 0.267);
}
.subt1 {
    text-align: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.dropbtn {
    color: black;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    color: green;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {display: block;}


.t2 {
    text-align: left;
    height: 40vmax;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}
.subt2 {
    border: solid black 1px;
}
.subt2 i{
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    text-align: left;
    padding: 8px;
}

/* lg */
@media screen and (max-width: 992px) { 
    .reg {
        padding-left: 5%;
        padding-top: 1rem;
    }
}

/* sm */
@media screen and (max-width: 576px) { 
    #log button {
        padding: 30%;
    }
    .vision img{
        width: 80%;
    }
    .mission img{
        width: 80%;
    }

    .visionContent p, h1{
        padding-right: 1rem;
    }
    .missionContent p, h1{
        padding-left: 3rem;
    }
}